@font-face {
  font-family: 'Poppins';
  src: url('./assets/fonts/Poppins-Regular.eot');
  src: url('./assets/fonts/Poppins-Regular.eot?#iefix')
      format('embedded-opentype'),
    url('./assets/fonts/Poppins-Regular.woff2') format('woff2'),
    url('./assets/fonts/Poppins-Regular.woff') format('woff'),
    url('./assets/fonts/Poppins-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('./assets/fonts/Poppins-Bold.eot');
  src: url('./assets/fonts/Poppins-Bold.eot?#iefix') format('embedded-opentype'),
    url('./assets/fonts/Poppins-Bold.woff2') format('woff2'),
    url('./assets/fonts/Poppins-Bold.woff') format('woff'),
    url('./assets/fonts/Poppins-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('./assets/fonts/Poppins-Medium.eot');
  src: url('./assets/fonts/Poppins-Medium.eot?#iefix')
      format('embedded-opentype'),
    url('./assets/fonts/Poppins-Medium.woff2') format('woff2'),
    url('./assets/fonts/Poppins-Medium.woff') format('woff'),
    url('./assets/fonts/Poppins-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('./assets/fonts/Poppins-SemiBold.eot');
  src: url('./assets/fonts/Poppins-SemiBold.eot?#iefix')
      format('embedded-opentype'),
    url('./assets/fonts/Poppins-SemiBold.woff2') format('woff2'),
    url('./assets/fonts/Poppins-SemiBold.woff') format('woff'),
    url('./assets/fonts/Poppins-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Salsa';
  src: url('./assets/fonts/Salsa-Regular.eot');
  src: url('./assets/fonts/Salsa-Regular.eot?#iefix')
      format('embedded-opentype'),
    url('./assets/fonts/Salsa-Regular.woff2') format('woff2'),
    url('./assets/fonts/Salsa-Regular.woff') format('woff'),
    url('./assets/fonts/Salsa-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PTMono';
  src: url('./assets/fonts/PTMono-Regular.eot');
  src: url('./assets/fonts/PTMono-Regular.eot?#iefix')
      format('embedded-opentype'),
    url('./assets/fonts/PTMono-Regular.woff2') format('woff2'),
    url('./assets/fonts/PTMono-Regular.woff') format('woff'),
    url('./assets/fonts/PTMono-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.chkn-bg {
  position: absolute;
  pointer-events: none;
  transition: all 1s linear;
}

html {
  box-sizing: border-box;

  font-family: 'Poppins', sans-serif;
  font-weight: normal;

  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  color: #3a3028;

  font-size: 14px;
  line-height: 1.2;

  @media ($--sm) {
    font-size: 12px;
  }
}

body {
  background-color: #b3e6f5;
  margin: 0;
  overflow-x: hidden;
  min-width: 320px;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  font-weight: normal;
  min-height: 100vh;
  /* 
  background-position: center bottom;
  background-size: 100%;
  background-repeat: no-repeat; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  padding: 0;
  font-weight: bold;
}

p {
  margin: 0;
  padding: 0;

  color: inherit;
  font-size: inherit;
  line-height: inherit;
}

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
}

/* .animation {
  background-image: url('./assets/img/15/background-15-frame-8.png');
  animation: chkn-born-15 6s ease-in-out;
} */

@keyframes plane-anim {
  from {
    left: -100%;
  }
  to {
    left: 100%;
  }
}
